/.classpath
/.gradle
/.project
/.settings
/bin
/build
/examples/gradle/.classpath
/examples/gradle/.gradle
/examples/gradle/.project
/examples/gradle/.settings
/examples/gradle/bin
/examples/gradle/build
